<!doctype html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <title>Story Survey</title>
        <link href="{{STATIC_URL}}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{STATIC_URL}}/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>
        {% include 'navigation.html' %}

        {% block content %}{% endblock %}

        <script src="{{STATIC_URL}}/js/jquery.js"></script>
        <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}/js/story.form.js"></script>
        <script src="{{STATIC_URL}}/js/page.js"></script>
    </body>
</html>
